{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12 text-center">
        {% for user in users %}
            <dl>
                <dt>User ID: {{ user.user_id}}</dt>
                <dd>Email: {{user.first_name}}</dd>
                <dd>Password: {{user.last_name}}</dd>
                <dd>Password: {{user.email}}</dd>
                <dd>Password: {{user.password}}</dd>
                <dd>Password: {{user.Year}}</dd>
                <dd>Password: {{user.branch}}</dd>
                
            </dl>
            {% else %}

                <h3>No users yet!</h3>
            {% endfor %}
            
    </div>    
</div>
{% endblock %}